# Example environment variables

# Telegram bot token from BotFather
BOT_TOKEN=

# API key for https://www.apicentre.in (if required)
API_KEY=

# Logging level (DEBUG, INFO, NOTICE, WARNING, ERROR, CRITICAL)
LOG_LEVEL=INFO

# App environment
APP_ENV=production
